* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: 1px solid;
}

body {
    
    z-index: -99;
    width: 100%;
}

header {
    height: 230px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

/* This is 1st Page */
.Homepage {
    height: 100vh;
    width: 100%;
    background-color: rgb(246, 245, 245);
    position: relative;
}



/* Homepage logo */
#Sname {
    height: 230px;
    width: 100%;
    background-image: url(pic/SKY.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
}

#top1 {
    position: absolute;
    height: 230px;
    width: 1000px;
    left: 20%;
}

#top1 img {
    position: absolute;
    top: 20px;
    height: 200px;
    border-radius: 50%;
}

#top1 h1 {
    position: absolute;
    left: 230px;
    top: 60px;
    color: rgb(0, 0, 12);
    font-size: 60PX;
    
}

#top1 h2 {
    position: absolute;
    left: 240px;
    top: 130px;
    color: rgb(0, 0, 0);
}


/* This is Navigation */

#click {
    height: 50px;
    width: 100%;
    background: rgb(4, 1, 56);
    background: linear-gradient(90deg, rgb(153, 119, 8) 7%, rgb(0, 0, 0) 41%, rgb(15, 8, 1) 75%, rgb(223, 89, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 5px;
    z-index: 1;
}


#click a {
    color: aliceblue;
    font-size: 1.5rem;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#click a:hover {
    background-color: rgba(166, 166, 166, 0.315);
}

/* This is Bg Img */

#bgpic {

    height: 600px;
    background-image: url(pic/building2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid rgb(0, 0, 0);
    background-position: center;



}

#black {
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* this is for button */
#Button {
    position: absolute;
    height: 200px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    z-index: 0;
    top: 500px;
    

}

#Button div {
    height: 180px;
    width: 200px;
    background-color: rgb(245, 248, 248);
    border: 2px solid rgb(4, 3, 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

#Button div i {
    font-size: 60px;
    color: rgb(247, 224, 193);
}

#Button div:hover i {
    font-size: 80px;
    color: rgb(58, 57, 57);
    transition: 0.5s;
}

#Button div h2 {
    position: absolute;
    bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}




/* This is 2nd page */
#Aboutpage {
    height: 100vh;
    width: 100%;
    background-color: rgb(246, 245, 245);
    position: relative;
}

#ti {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    justify-content: center;
    position: absolute;
    margin-top: 50px;
}

#ti div {
    background-color: black;
    height: 5px;
    width: 20%;
    position: absolute;
    top: 30px;
    border-radius: 20px;
}

#l1 {
    left: 0px;
}

#l2 {
    right: 0px;
}

#ti h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

#text1,
#text2 {
    top: 200px;
    height: 700px;
    width: 500px;
    position: absolute;
}

#text1 {
    left: 15%;
    color: rgb(0, 0, 0);
    text-align: left;
}

#text1 p,
#text2 p {
    font-size: 20px;
}

#text2 {
    text-align: left;
    right: 15%;
    color: rgb(0, 0, 0);
}

/* This is 3rd page */

#Coursepage {
    height: 100vh;
    width: 100%;
    background-color: rgb(99, 67, 7);
    position: relative;
}

#title {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
}

#ll,
#rl {
    background-color: aliceblue;
    height: 5px;
    width: 40%;
    position: absolute;
}

#ll {
    left: 0px;
}

#rl {
    right: 0px;
}
#supercont{
    
    height: 500px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

#cont1,
#cont2,
#cont3 {
    height: 300px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

}

#cont4,
#cont5,
#cont6 {
    height: 300px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    top: 550px;

}

#cont1,#cont4 {
    left: 300px;
}

#cont2,#cont5 {
    left: 850px;
}

#cont3,#cont6 {
    right: 300px;
}





#cont1 div,
#cont2 div,
#cont3 div,
#cont4 div,
#cont5 div,
#cont6 div {
    height: 150px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;


}

#cont1:hover,
#cont2:hover,
#cont3:hover,
#cont4:hover,
#cont5:hover,
#cont6:hover {
    background-color: black;
    transition: 0.5s;
    color: white;
}

#cont1 h1,
#cont2 h1,
#cont3 h1,
#cont4 h1,
#cont5 h1,
#cont6 h1 {
    text-align: center;
    font-size: 30px;
}


/* This is last page */

#Contactpage {
    height: 100vh;
    width: 100%;
    position: relative;
}

#calen {
    height: 50vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#about {
    height: 50vh;
    width: 100%;
    background-image: url(pic/building2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#contabout {
    height: 50vh;
    width: 100%;
    border-top: 15px solid grey;
    background-color: rgba(162, 114, 11, 0.581);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logs {
    height: 500px;
    width: 400px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    position: relative;
}

#logs img {
    border-radius: 50%;
    height: 200px;
    position: absolute;
    top: 100px;
}

#link {
    height: 70px;
    width: 400px;

    margin-top: 400px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#link a {
    display: grid;
    text-decoration: none;
    height: 35px;
    width: 35px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: rgb(205, 205, 205);
    color: blue;
}

#link a:hover {
    color: white;
    background-color: blue;
}

#atext {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    top: 300px;
}

#lods {
    position: absolute;
    top: 100px;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

#lods img {
    height: 200px;
    width: 200px;

}




@media (max-width: 1460px) {
    #text1 {
        left: 10%;
    }
    #text2 {
        right: 10%;
    }

    #supercont{
        flex-wrap: wrap;
        
    }
    #lods{
        flex-wrap: wrap;
    }

}
@media (max-width: 1270px) {
    #text1 {
        left: 5%;
    }
    #text2 {
        right: 5%;
    }
    #top1{
        left: 10%;
    }
    @media (max-width: 1140px) {
        #Aboutpage{
            height: 160vh;
        }
        #text1 {
            left: 25%;
        }
        #text2 {
            top: 850px;
            left: 25%;
        }
        #top1{
            left: 10%;
        }
        #calen{
            height: 60vh;
        }
        #top1{
            width: 500px;
        }
        #top1 h2{
            top: 190px;
        }
        #l2, #l1{
            display: none;
        }
    }
}




