body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    text-align: center;
}

h2 {
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container a:hover {
    background-color: #555;
}
#home{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #home a{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 20px;
  }
#home a:hover {
  background-color: rgb(162, 156, 156);
}

